<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.pab.framework.crawlerdb.dao.CrawlerFlowInfoDao">
    <resultMap id="crawlerFlowInfo" type="com.pab.framework.crawlerdb.domain.CrawlerFlowInfo">
        <result column="flow_id" jdbcType="INTEGER" property="flowId"/>
        <result column="flow_desc" jdbcType="VARCHAR" property="flowDesc"/>
    </resultMap>
    <select id="count" resultMap="int">
        select count(*) from crawler_flow_info
    </select>
</mapper>
